@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
  font-family: 'Outfit', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1;
  font-weight: 400;
  background: linear-gradient(to bottom right, #403f44, #1e1b32);

  /* Vars */
}

body {
  margin: 0;
  width: 100vw;
  color: white;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 24px;
  line-height: 2rem;
}

.btn {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  margin: 0;
  min-width: 11.25rem;
  box-sizing: border-box;
  overflow: hidden;
  padding: 1rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  scale: 1.2;
  background-image: url(./assets/acwd-btn-background-6.png);
  background-size: cover;
  background-position: center;
  border: none;
}

/* Navbar */

.nav-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: 100vw;
  padding-left: 7%;
  padding-right: 7%;
  animation: fade-down 1s;
}

.nav-logo img {
  height: 15vh;
  background: transparent;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  scale: 1.1;
}

/* Navbar Animations */

@keyframes fade-down {
  0% {
    opacity: 0%;
    transform: translateY(-50px) scale(0.9);
  }

  100% {
    opacity: 100%;
    transform: translateY(0px) scale(1);
  }
}

/* Hero */

.hero-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  animation: fade-up 0.5s;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 40vw;
  gap: 5vh;
}

.hero-title {
  width: 70%;
}

.hero-body {
  width: 80%;
}

.hero-img img {
  height: 80vh;
  width: 50vw;
}

.hero-img {
  animation: move-up-down 4s linear infinite;
}

/* Hero Animations */

@keyframes fade-up {
  0% {
    opacity: 0%;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 100%;
    transform: translateY(0px) scale(1);
  }
}

@keyframes move-up-down {
  0%,
  100% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(15px);
  }
}

/* What We Do */

.what-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 150vh;
}

.what-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.what-body {
  text-align: center;
  width: 80%;
}

.what-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  flex-wrap: wrap;
}

.what-item {
  margin: 0 auto;
  display: flex;
  width: 30vw;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  color: #1e1b32;
  padding: 1.5rem 1.5rem;
  border-radius: 30px;
  height: 65vh;
  /* gap: 1.5rem; */
}

.what-item-body {
  font-size: 18px;
  line-height: 1.5rem;
}

.what-img {
  height: 6rem;
  width: 6rem;
  background-color: white;
}

.react-icons {
  color: red;
}
