@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
  font-family: 'Outfit', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1;
  font-weight: 400;
  background: linear-gradient(to bottom right, #403f44, #1e1b32);

  /* Vars */
  --primary-1: #C7A8F0;
  --primary-2: #4A188C;
  --primary-3: #E9DCF9;

}

body {
  margin: 0;
  width: 100vw;
  color: white;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 24px;
  line-height: 2rem;
}

.btn {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  margin: 0;
  min-width: 11.25rem;
  box-sizing: border-box;
  overflow: hidden;
  padding: 1rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  color: black;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  scale: 1.2;
  background-image: url(./assets/acwd-btn-background-6.png);
  background-size: cover;
  background-position: center;
  border: none;
}

.wave-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-bottom svg {
    position: relative;
    display: block;
    width: calc(156% + 1.3px);
    height: 130px;
}

.wave-bottom .shape-fill {
    fill: #FFFFFF;
}

.wave-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-top svg {
    position: relative;
    display: block;
    width: calc(156% + 1.3px);
    height: 130px;
}

.wave-top .shape-fill {
    fill: #FFFFFF;
}

/* Navbar */

.nav-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: 100vw;
  padding-left: 7%;
  padding-right: 7%;
  animation: fade-down 1s;
}

.nav-logo img {
  height: 15vh;
  background: transparent;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  scale: 1.1;
  color: var(--primary-1);
}

/* Navbar Animations */

@keyframes fade-down {
  0% {
    opacity: 0%;
    transform: translateY(-50px) scale(0.9);
  }

  100% {
    opacity: 100%;
    transform: translateY(0px) scale(1);
  }
}

/* Navbar Responsive */

@media (max-width: 768px) {
  .nav-center {
    flex-direction: column;
    justify-content: flex-start;
    height: 40vh;
  }

  .nav-links {
    flex-direction: column;
  }
}

/* Hero */

.hero-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  animation: fade-up 0.5s;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 40vw;
  gap: 5vh;
}

.hero-title {
  width: 100%;
}

.hero-body {
  width: 80%;
  color: var(--primary-3);
}

.hero-img img {
  height: 80vh;
  width: 50vw;
}

.hero-img {
  animation: move-up-down 4s linear infinite;
}

/* Hero Animations */

@keyframes fade-up {
  0% {
    opacity: 0%;
    transform: translateY(70px) scale(0.9);
  }

  100% {
    opacity: 100%;
    transform: translateY(0px) scale(1);
  }
}

@keyframes move-up-down {
  0%,
  100% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(15px);
  }
}

/* Hero Responsive */

@media (max-width: 768px) {

  .hero-center {
    margin-top: 25%;
    flex-direction: column;
    width: 90vw;
    justify-content: center;
    align-items: center;
  }

  .hero-title-container {
    margin-left: auto;
    margin-right: auto;
  }

  .hero-body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .hero-center button {
    margin-left: auto;
    margin-right: auto;
  }

  .hero-content {
    justify-content: center;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-title {
    text-align: center;
  }

  .hero-img {
    width: 100vw;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
  }

  .hero-img img {
    width: 100%;
    height: 100%;
  }

  .hero-btn {
  align-self: center;
  }
}

/* What We Do */

.what-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* height: 150vh; */
  margin-top: 10%;
  position: relative;
}

.what-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.what-body {
  text-align: center;
  width: 80%;
  color: var(--primary-3);
}

.what-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 10%;
}

.what-item {
  display: flex;
  width: 28vw;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(to bottom, white, var(--primary-3) );
  color: var(--primary-2);
  padding: 2rem 2rem;
  border-radius: 30px;
  height: 65vh;
  transition: all 0.8s ease-in-out;
}

.what-item:hover {
  background-image: url(./assets/what-card-background-img-edited.jpg);
  background-size: cover;
  background-position: center;
  border: none;

  .what-item-body {
    color: white;
  }

  .what-item-title {
    color: white;
  }

  .what-btn {
    color: var(--primary-1);
  }

  .what-btn:hover {
    color: white;
    scale: 1.025;
  }
}

.what-item-title {
  font-weight: 700;
}

.what-item-body {
  font-size: 18px;
  line-height: 1.5rem;
  color: black;
  font-weight: 500;
}

.what-img {
  height: 5rem;
  width: 5rem;
  box-shadow: 8px 8px 8px var(--primary-2);
  background-color: var(--primary-1);
  border-radius: 8px;
  padding: .25rem;
}

.what-btn {
  color: var(--primary-2);
  align-self: left;
  font-family: 'Outfit', sans-serif;
  background: none;
  border: none;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  text-align: left;
}



/* What Responsive */

@media (max-width: 768px) {
  .what-item {
    width: 80vw;
  }

  .what-list {
    margin-top: 10%;
    gap: 10vh;
    margin-bottom: 8rem;
  }

  .what-center {
    margin-top: 25%;
  }
}

/* Footer */

.footer-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  position: relative;
  
}

.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  margin-top: 7rem;
  margin-bottom: 5rem;
}

.footer-body {
  font-size: 16px;
}

.footer-btn {
  font-size: 14px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  gap: 2rem;
}

.footer-link {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

.footer-link:hover {
  scale: 1.1;
  color: var(--primary-1);
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  gap: 1rem;
}

.footer-contact {
  font-size: 18px;
  font-weight: 600;
}

/* Footer Responsive */

@media (max-width: 768px) {

  .footer-center {
    gap: 5vw;
  }

  .footer-main {
    width: 25vw;
  }

  .footer-links {
    width: 25vw;
    gap: 1rem;
  }

  .footer-link {
    font-size: 14px;
  }

  .footer-links-header {
    font-size: 16px;
  }

  .footer-body {
    display: none;
  }

  .footer-btn {
    font-size: 12px;
    padding: 1rem 1.5rem;
    margin-bottom: 10%;
  }

  .footer-contacts {
    width: 25vw;
  }

  .footer-contact {
    font-size: 12px;
    gap: 1rem;
  }
}

/* Offerings */

.offerings-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 3rem 3rem;
  gap: 5%;
}

.offerings-img {
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 5px;
  box-shadow: 10px 10px 10px var(--primary-3);

}

.offerings-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  gap: 2.5rem;
}

.offerings-content-headers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.offerings-content-header {
  font-size: 32px;
  color: var(--primary-2);
}

.offerings-content-body {
  color: var(--primary-1);
  font-size: 16px;
  line-height: 1.25rem;
}

.offerings-content-benefits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.benefit {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 18vw;
  transition: all 0.2s ease-in-out;
}

.benefit:hover {
  scale: 1.025;
}

.benefit-header {
  color: var(--primary-2);
}

.benefit-body {
  font-size: 16px;
  color: var(--primary-1);
  line-height: 1.25rem;
}

/* Offerings Responsive */

@media (max-width: 768px) {

  .offerings-center {
    flex-direction: column;
    gap: 4rem;
  }

  .offerings-img {
    width: 90vw !important;
    height: auto !important;
  }

  .offerings-content {
    width: 90vw;
  }

  .benefit {
    width: 40vw;
  }
}

/* Testimonials */

.testimonials-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
  position: relative;
}

.testimonials-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 10%;
}

.testimonials-title {
  text-align: center;
  width: 60vw;
  color: var(--primary-1);
}

.testimonial-img {
  border-radius: 8px;
}

.testimonial-container {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 5vh;
  margin-bottom: 10%;
}

.testimonial-quote:hover {
  scale: 1.025;
}

.testimonial-quote {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 25vw;
  background: linear-gradient(to bottom, var(--primary-3), var(--primary-1));
  padding: 2rem 2rem;
  border-radius: 50px;
  border-bottom-right-radius: 0;
  color: white;
  transition: all 0.2s ease-in-out;
}

.testimonial-body {
  font-size: 18px;
}

.testimonial-name {
  font-size: 20px;
}

/* Testimonials Responsive */

@media (max-width: 768px) {

  .testimonials-head {
    margin-top: 8rem;
  }

  .testimonial-container {
    flex-direction: column;
    gap: 4rem;
  }

  .testimonial-img {
    width: 90vw !important;
    height: auto !important;
  }

  .testimonial-quote {
    width: 80vw;
    margin-bottom: 4rem;
  }
}

/* Pricing */

.pricing-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: white;
  padding: 3rem;
  width: 100vw;
}

.pricing-header {
  font-size: 50px;
  color: var(--primary-2);
  font-weight: 700;
  width: 35vw;
  text-align: center;
}

.pricing-card-title {
  color: white;
  font-size: 36px;
}

.pricing-body {
  color: black;
  font-size: 18px;
  text-align: center;
}

.price {
  color: white;
  font-size: 36px;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: var(--primary-2);
  width: 35vw;
  border-radius: 30px;
  padding: 2rem 2rem;
  transition: all 0.2s ease-in-out;
}

.pricing-card:hover {
  scale: 1.025;
}

.pricing-features-list {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pricing-feature {
  font-size: 18px;
}

.price-btn {
  text-decoration: none;
  color: white;
  background-color: var(--primary-1);
  padding: 1.25rem 3.5rem;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Outfit', sans-serif;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  /* box-shadow: 10px 10px 10px var(--primary-3); */
}

.price-btn::before {
  content: '';
  width: 0;
  height: 4rem;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, var(--primary-3) 0%, var(--primary-2) 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.price-btn:hover::before {
  width: 14rem;
}

.pricing-btn {
  color: white;
  text-decoration: none;
  padding-bottom: 1rem;
}

.pricing-btn:hover {
  scale: 1.125;
}

.pricing-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40vw;
  gap: 2rem;
}

/* Pricing Responsive */

@media (max-width: 768px) {

  .pricing-center {
  flex-direction: column;
}

.pricing-header-container {
  width: 90vw;
}

.pricing-header {
  width: 90vw;
}

.pricing-card {
  width: 80vw;
}

}

/* Page Head */

.page-head-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  position: relative;
}

.page-head-title {
  color: var(--primary-1);
}

/* About Page */

.about-center {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
}

.about-me-img {
  width: 40vw;
  height: auto;
  background: linear-gradient(to bottom right, var(--primary-1), var(--primary-2));
  border-radius: 50px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.about-me-center {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.about-me-content {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.about-me-subtitle {
  font-size: 20px;
}

.about-me-title {
  font-size: 48px;
  color: var(--primary-2);
  width: 35vw;
}

.about-me-body {
  font-size: 18px;
  line-height: 1.5rem;
  width: 30vw;
  font-weight: 300;
}

.about-me-content .price-btn {
  width: 14rem;
  text-align: center;
}